trigger:
- staging

pr:
- staging

variables:
  calendarRepository: 'calendar-service'
  tag: 'latest'
  imagePullSecret: 'calendar-service'

stages:
  - stage: 'Analyze'
    displayName: Analyze
    jobs:
      - job: analyze
        pool:
          vmImage: windows-latest
        steps:
          - task: DotNetCoreCLI@2
            displayName: Restore Solution
            inputs:
              command: restore
              projects: '*/*.csproj'
          - task: SonarCloudPrepare@1
            inputs:
              SonarCloud: 'sonarcloud connection'
              organization: 121420-dotnet-sonarcloud
              projectKey: OutOfTheParkCalendarService
              projectName: OutOfTheParkCalendarService
              scannerMode: MSBuild
              extraProperties: |
                sonar.exclusions=**/obj/**,**/lib/**,**/*.dll,**/Startup.cs,**/Program.cs,**/Migrations/**
          - script: dotnet build --configuration Release
            displayName: Analyze Build
          - task: DotNetCoreCLI@2
            inputs:
              command: test
              projects: '*.Tests/*.csproj'
              arguments: --configuration Release --collect "Code Coverage"
          - task: PublishCodeCoverageResults@1
            displayName: Publish Code Coverage Results
            inputs:
              codeCoverageTool: Cobertura
              summaryFileLocation: $(Agent.TempDirectory)/*/cobertura/coverage.xml
          - task: SonarCloudAnalyze@1
            displayName: Run Code Analysis
          - task: SonarCloudPublish@1
            displayName: Publish Code Analysis
  - stage: 'Build'
    displayName: Build and push
    jobs:
      - job: Build
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Docker@2
            inputs:
              command: buildAndPush
              buildContext: $(Build.Repository.LocalPath)
              repository: $(calendarRepository)
              dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
              containerRegistry: 'Container Registry Connection'
              tags: |
                $(tag)
          
          - publish: '$(Build.SourcesDirectory)/manifests'
            artifact: manifests
  - stage: 'Deploy'
    displayName: 'Deploy the containers'
    dependsOn: Build
    jobs:
    
    - deployment: Deploy
      displayName: Deploy
      pool:
        vmImage: 'ubuntu-latest'
      environment: 'spike2.default'
      variables:
      - group: Release
      strategy:
        runOnce:
          deploy:
            steps:
            - download: current
              artifact: manifests


            - task: KubectlInstaller@0
              inputs:
                kubectlVersion: 'latest'
            - task: Kubernetes@1
              inputs:
                connectionType: 'Kubernetes Service Connection'
                kubernetesServiceEndpoint: 'Kubernetes Cluster Connection Take 2'
                namespace: 'default'
                command: 'login'

            - task: KubernetesManifest@0
              displayName: Create imagePullSecret
              inputs:
                action: createSecret
                secretName: $(imagePullSecret)
                dockerRegistryEndpoint: 'Container Registry Connection'
                kubernetesServiceConnection: 'Kubernetes Cluster Connection Take 2'
                namespace: 'default'

            - task: KubernetesManifest@0
              displayName: Deploy to Kubernetes cluster
              inputs:
                action: deploy
                kubernetesServiceConnection: 'Kubernetes Cluster Connection Take 2'
                namespace: 'default'
                manifests: |
                  $(Pipeline.Workspace)/manifests/deployment.yml
                imagePullSecrets: |
                  $(imagePullSecret)
                containers: |
                  $(RegistryName)/$(calendarRepository):$(tag)
            

            - task: Kubernetes@1
              inputs:
                command: 'logout'