apiVersion: apps/v1
kind: Deployment
metadata:
  name: calendar-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: calendar-service
  strategy:
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: calendar-service
    spec:
      containers:
        - name: calendar-service
          image: outofthepark15226.azurecr.io/calendar-service
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: cal-http
            - containerPort: 443
              name: cal-https
---
apiVersion: v1
kind: Service
metadata:
  name: calendar-service-deployment
spec:
  ports:
#    - name: http
#      protocol: TCP
#      port: 80
#      targetPort: 80
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
  selector:
    app: calendar-service
  type: ClusterIP

